*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;

}

.page__header{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
}
.page__header .page__title{
    align-self: flex-start;
    color: white;
}
.page__header .page__title a{
    color: white;
    font-size: 1rem;
}
.page__header .page__search{
    align-self: center;
    align-content: center;
}
.page__header .page__search input[type='text']{
    padding: 1rem 2rem 1rem 1rem;
    border: none;
}
.page__header .page__search input[type='submit']{
    padding: 1rem;
    background-color: white;
}
.users__list{
    display: flex;
    flex-direction: column;
    background-color: #9F9F9F;
}
.users__list .user__block{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
}
a{
    text-decoration: none;
    color: black;
}
.users__list .user__block img{
    width: 100px;
    border-radius: 50%;
    border: 3px solid black;
}